body
{
    background-position: center;
    background-size: cover;
}
#h1
{
align-content: stretch;
width: 100%;
font-size: 30px;
border-radius: 30px;
}
.div1
{
    width: 80%;
    font-size: 27px;
    border-radius: 30px;
}